git:

  config:
    gituser:
      user.email:
        value: foo@bar.net
        global: True

  clone:
    gituser:
      https://mydomain.tld/apps/foo.git:
        target: /opt/foo
        branch: develop
